[Desktop Entry]
Name=Raise Gimp 
Comment=When Gimp image window is activated raise toolbox and docks of GIMP
Icon=preferences-system-windows-script-raisegimp

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Dirk Sarpe
X-KDE-PluginInfo-Email=dns_hmpf@web.de
X-KDE-PluginInfo-Name=raisegimp
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
